/*importing the poppins font family*/
@font-face {
    font-family: poppins;
    src: url(../Poppins-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

/*Styling the nav*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    box-shadow: 10px 5px 10px rgb(177, 173, 173);
}

/*alligning the logo properly*/
nav .logo {
    margin-left: 22px;
    font-size: 18px;
}

/* giving hover effect to the logo*/
nav .logo:hover {
    cursor: pointer;
}

/*aligin the navbar*/
.navbar {
    margin-right: 45px;
    margin-top: 7px;
}

/*styling the anchor tag*/
.navbar a {
    margin-inline: 22px;
    font-size: 20px;
}

/*giving the hover effect to the links of webpages*/
.navbar a:hover {
    color: #05a7a7;
    cursor: pointer;
}

/*styling the text present at the top of body*/
.text h2 {
    margin-top: 20px;
    text-align: center;
    color: #05a7a7;
    font-size: 30px;
}

/*styling the text featured products*/
.head h1 {
    text-align: center;
    padding: 33px;
    margin-top: 32px;
    color: darkred;
}

.con {
    float: inline-start;
    width: 20%;
    margin-left: 60px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 20px;
    padding-top: 25px;
    transition: .4s;
    background: #f2f2f2;
}

/*giving hover effects to the contents*/
.con:hover {
    transform: translate(0px, -8px);
}

/*styling the images of contents*/
.con img {
    width: 300px;
    height: 250px;
    
}

/*styling the name of products*/
.con h5 {
    font-size: 20px;
    font-weight: bolder;
    color: #8b0000;
}

/*styling the price of products*/
.con h6 {
    font-size: 26px;
    text-align: center;
    color: #222f36;
    margin: 0;
    font-size: 15px;
}

/*styling the Buy Now button*/
.con button {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #05a7a7;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.r1 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 170px;
    height: 300px;
    width: 1150px;
}

.r1.pic {
    justify-content: space-around;
}

.r1 .pic img {
    width: 550px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 2px 2px 1px rgb(136, 131, 131);
}

.research {
    margin-top: 100px;
    text-align: center;
}

/*styling the footer*/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 55px;
    box-shadow: 10px 5px 10px rgb(177, 173, 173);
    background-color: white;
}

/*alligning the footer text*/
.footer .footertext p {
    margin-top: 10px;
}

.signup .placehold {
    display: flex;
}

/* giving height and width to the form*/
.signup input {
    width: 200px;
    height: 25px;
}

/*styling the sign up button*/
.signup button {
    width: 100px;
    height: 28px;
    background-color: rgb(2, 173, 173);
    border: none;
    color: #fff;
}

/* blog section title css */
.blog-sec .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
} 

/* css of about img */
.title img{
    border-radius: 20px;
}


/* blog section of title heading  */
.blog-sec .title h2 {
    font-size: 40px;
    color: #05a7a7;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px; 
    margin-bottom: 20px;
}

/* blog section of title paragraph */
.blog-sec .title p {
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 30px;
}
      
 /* cards of content */
.content{
    padding: 15px 20px;
}
 /* cards of content heading*/
.content h4{
    font-size: 20px;
    color:#05a7a7;
    font-weight: 500;
    text-align: center;
}

/* cards of image css */
.cards img{
    border-radius: 25px;
    height: 300px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
}



/* content paragraph */
.content p{
    font-size: 15px;
    padding: 20px;
}

.card{
    display: flex;
    align-items: center;
 }


 
/* heading with supporting sentence */
.start-content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #8b0000;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* mainbox which contains all the images and name of products with its price and also a link which redirects us to the detailed product page */
.contents {
    float: inline-start;
    width: 23%;
    margin-left:150px;
    margin-bottom: 90px;
    text-align: center;
    border-radius: 20px;
    padding-top: 25px;
    transition: .4s;
    background: #f2f2f2;

}

/* The hover effect in the below css traslates the main box by 0px in x- axixs and -8px in y axis and inherits the transition from the content section which defines the interval in which the hover effect must complete. The width in the content also plays a vital role in the process. */
.contents:hover {

    transform: translate(0px, -8px);
}

/* all the images in the product pages are called with the following section setting its dimensions */
.contents img {
    width: 300px;
    height: 250px;
    padding: 50px;

}

/* name of printer */
.contents h5 {
    font-size: 20px;
    font-weight: bolder;
    color: #8b0000;

}

/* price of printer */
.contents h6 {
    font-size: 26px;
    text-align: center;
    color: #222f36;
    margin: 0;
}

/* buy now button which has Js included in it. */
.contents button {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #fff;
    background-color: #05a7a7;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}


/* customer review */

/* customer review title */
.head-2 {
    clear: left;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    color: #8b0000;

}

/* the main review box */
.customer-review {
    clear: left;
    /* clearing left due to use of float left in products */
    display: flex;
    padding-bottom: 100px;



}
/* it holds the content of the review. */
.review {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 60px;
    height: 50%;
    width: 50%;
}

/* image of the reviewer */
.review>img {
    float: left;
    width: 173px;
    height: 154px;
    border-radius: 50%;
    justify-content: center;

}

.customer-review1 {
    clear: left;
    display: flex;
    padding-bottom: 100px;

}

.review1 {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 50%;
    width: 50%;
}


.review1>img {
    float: left;
    width: 173px;
    height: 154px;
    border-radius: 50%;
    justify-content: center;

}

/* detailed css page. */
.containerr {
    margin: 20px 100px;
    display: flex;
}

.right-box {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.main-img-box {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
}

.detail-box {
    font-size: 20px;
    width: 90%;
    position: relative;
    left: 10%;
    font-family: 'Poppins', sans-serif;

}

.bttn {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #05a7a7;
    border: 1px solid #05a7a7;
    color: whitesmoke;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 50px;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.inputs{
    margin-bottom: 15px;
}
.bttn:hover{
    transform: translateY(-10px);
}


/* research part */
/*styling the section where the images are imported*/
.r1 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 170px;
    height: 300px;
    width: 1150px;
}

/*alliging the pic div*/
.r1.pic {
    justify-content: space-around;
}

/*styling the images*/
.r1 .pic img {
    width: 550px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 2px 2px 1px rgb(136, 131, 131);
}

/*styling the headings*/
.research {
    margin-top: 100px;
    text-align: center;
}


/* About us. */
.customer-review{
    clear: left;  /* clearing left due to use of float left in products */
    display: flex;
    padding-bottom: 50px;

}
.review{
    background-color:white;
    padding: 40px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 60px;
    height: 50%;
    width: 50%;
    box-shadow:1px 2px 3px 4px rgb(216, 204, 204);
}
.review > img
{
    float: left;
    width: 173px;
    height: 170px;
    border-radius:50%;
    margin-right: 50px;
   margin-top: 20px;
    
}
.but{
    background-color: #05a7a7;
    padding: 30px;
    border: none;
    color: white;
    border-radius: 30px;
    margin-left: 46%;
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 20px;
}

/* contact us part starts */

.contactUs {
    position: relative;
    width: 1200px;
    padding: 40px 100px;
    margin-left: 290px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #05a7a7;
    font-weight: 900;
}

.contact {
    padding: 30px;
    background: #fff;
    box-shadow: 0 5px 35px #00000026;
}

.box {
    position: relative;
    
    margin-top: 20px;
}

.contact h3 {
    color: #05a7a7;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox 
{
    position: relative;
    width: 100px;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox
 {
    width: 50px;
}
.inputBox span
{
    color: darkred;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input
{
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea
{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #333;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="Submit"]
{
    background: #05a7a7;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

/* cv part. */
    

.box{
    
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    
}
.contact-us{
    position: relative;
    text-align: left;
    margin: 0;
   float: left;
    
}
.cont{
    background-color:#05a7a7;
    border-radius: 20px;
    padding: 50px;
    width: 900px;
   margin-left: 250px;
   margin-top: 30px;
   color: #253753;

}
.cont p{
    text-align: justify;
    
}
.cont > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    padding-right: 30px;   
    
}
.qualification {
    margin-left: 300px;
    text-align: center;
    margin-top: 50px;
}
.qualification .h1{
    color:white;
}